.pointer{
    cursor: pointer;
}
.hover-active:hover{
    background-color: aliceblue;
}
.flow-hidden{
    overflow: hidden;
}
.w-max{
    width: max-content;
}
.side-navbar .sider{
    height: calc(100vh - 66px);
}
.side-navbar ul.list-unstyled li:hover{
    background-color: aliceblue;
}
.side-navbar ul.list-unstyled li.active{
    background-color: aliceblue;
}

.side-navbar ul.list-unstyled li a{
    box-shadow: none;
}
.layout{
    height: calc(100vh - 66px);
    overflow: auto;
}
#carouselDestinations .carousel-item{
height: 300px;
}
.fa-trash{
    color: rgb(223, 63, 63);
}
.fa-edit{
    color: rgb(139, 139, 56);
}
.dest_delete{
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}
.dest_delete:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}